<!DOCTYPE html>
<html>
<head>
  <title>Newsletter</title>
  <link href="/static/css/donegalstyle.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<ul>
  		<li><a href="/Donegal.html">Home</a></li>
  		<li><a href="/DonegalInfo.html">Info</a></li>
 		<li><a href="/DonegalNews.html">Newsletter</a></li>
	</ul>
<br> <h2>Get the details on what the Northwest has has to offer!</h2>

  <p>  <h3>Join our Mailing List!</h3><br>
  	For all the Latest info of events, festivals and weather updates on the Wild Atlantic Way’s Crowning Glory, sign up below. <br><br>

  <div id="contact-form">
    <form method="post" action"signup">   
      <label for="email">Email address:</label>
      <input type="text" name="email" value="Your Email Here">
  <br><br >
  <input type="submit" value="Submit">
    </form>
  </div>
  
</p>

<img src="/static/images/DonegalThirdPage.png" alt="Map2" id="MapThree"/>
  
</body>

</html>