<!DOCTYPE html>
<html>
<head>
  <title>Fáilte</title>
  <link href="/static/css/donegalstyle.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<ul>
  		<li><a href="/Donegal.html">Home</a></li>
  		<li><a href="/DonegalInfo.html">Info</a></li>
 		<li><a href="/DonegalNews.html">Newsletter</a></li>
	</ul>
<br> <h1>Fáilte go Dún na nGall</h1>
  <p>
Experience all the beauty Ireland has to offer with a seasonal getaway in glorious Donegal. 
This breath-taking county promises wild landscapes blanketed in bog and heather, isolated white sandy beaches and a roughly hewn coastline.
And when you need a break from the elements, cosy little pubs are at hand to provide you with some hearty grub, shelter from the windy headlands and good company.
Get away from it all this spring in Donegal, a county that will force you to kick back, slow down and admire the view.

  </p>

<img src="/static/images/DonegalHomePage.png" alt="Map" id="MapHome"/>
  
</body>

</html>
