<!DOCTYPE html>
<html>
<head>
  <title>Info</title>
  <link href="donegalstyle.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<ul>
  		<li><a href="/Donegal.html">Home</a></li>
  		<li><a href="/DonegalInfo.html">Info</a></li>
 		<li><a href="/DonegalNews.html">Newsletter</a></li>
	</ul>
<br> <h1>Fáilte go Dún na nGall</h1>
	<h3>Donegal Airport</h3>
  <p>
DONEGAL AIRPORT (AERFORT DHÚN NA NGALL) Fáilte go Suíomh Idirlíne Aerfort Dhún na nGall.  Tá muid ag obair ar an Súiomh Idirlíne faoi lathair agus beidh an suíomh iomlán Gaeilge ar fáil go luath.  Tá muid buartha nach bhfuil sé ar fáil ag an bomaite seo.Welcome to the website of Donegal Airport.  Donegal Airport is located at Carrickfinn, Kincasslagh, Co. Donegal. Carrickfinn is located on the west coast of Donegal on the Wild Atlantic Way and is within a Gaeltacht region, therefore many of the locals are fluent in the native Irish language. Donegal boasts some of Ireland's most beautiful scenery and there are many great places to see and things to do in the region. The airport has been voted one of the world's most scenic approaches in the world in a recent survey conducted by private jet booking service PrivateFly.

  </p>

<img src="Airport.jpg" alt="Carrickfinn" id="Airport"/>
  
</body>

</html>